#!/usr/bin/env ruby
require 'compass'
Compass.add_project_configuration 'compass.config'

route '/vendor/*' do
  # /static/foo.ext → /foo.ext
  item.identifier[7..-2] + '.' + item[:extension]
end
compile '/vendor/*' do; end

route '/markup/*' do
  # /markup/foo.markdown → /foo/index.html
  item.identifier[7..-1] + 'index.html'
end

compile '/markup/*' do
  begin
    filter :erb
    filter :rdiscount
    layout @item[:layout] || 'default'
  rescue Exception => e
    raise "Error processing : #{@item.identifier}\n#{e.message}"
  end
end

# Ignore everything not already matched
compile '*' do; nil; end
route   '*' do; nil; end

layout '*', :haml, :format => :html5
