- if @site.config[:site][:navigation]
  %ul.unstyled
    - @site.config[:site][:navigation].each do |name,href|
      %li
        %a{:href => href}
          = name
  - unless @item[:hidebutton]
    %a{:href => "/questionnaire",:class => "btn btn-primary btn-small" }
      = "Take the survey"
