- if @site.config[:site][:navigation]
  %ul.unstyled
    - @site.config[:site][:navigation].each do |name,href|
      %li
        %a{:href => href}
          = name

%a{:href => relative_path_to("/atom.xml")}
  %img{:src => amzn('feed-icon.png')}
