// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "blueprint/liquid";
// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

@import "blueprint/buttons";

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body {
  @include blueprint-typography(true);
  @include blueprint-liquid-grid;
  .container{
    @include container;
    .page-header{
      margin-top: 20px;
      a {
        text-decoration: none;
      }
      @include append(6);
      @include column(12, true);
      @include prepend(6);
    }
    .content{
      margin-top: 20px;
      @include blueprint-typography-body(20px);
      @include append(6);
      @include column(12, true);
      @include prepend(6);

      .center {
        @include prepend(6);
        @include prepend(6);
      }
    }
  }
}

blockquote {
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
  border-left-width: 3px;
  border-left-color: #DDD;
  border-left-style: solid;
}

header {
  a {
    text-decoration: none;
  }
}

a.btn {
  @include anchor-button;
  @include button-colors;
  @include button-hover-colors;
  @include button-active-colors;
}
